body{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    background-color: #1f2937;
    padding:20px;
    
    
}
.headerlogo{
font-size: 24px;
color: #f9faf8;
margin-left: 80px;
}
.headerlinks{
  display:flex;
 gap:20px;
 margin-right: 150px;
}
.linkone,.linktwo,.linkthree{
    font-size: 18px;
    color:#e5e7eb;
  

}

.first{
  
  
  display:flex;
  background-color:#1f2937;
  padding:20px;
  justify-content: space-between;
  
  
}
.awesome{
  color:white;
  font-size:48px;
  margin-top: 0px;
  margin-left: 80px;
  
}
.hero_para{
  color:white;
  font-size:24px;
  margin-left: 80px;
}
.signin{
  background-color:#3882f6;
  color:white;
  margin-left: 80px;
}


.hero_img{
    width:350px;
    height:100px;
    margin-right: 150px;

}
.two{
    display:flex;
    flex-direction: column;  
   align-items: center;
    
}
.images_with_text{
display:flex;
flex-direction: row;


}

.quote{
  display:flex;
  background-color: #e5e7eb;
  justify-content: space-around;
  flex-direction: column;
  align-items:flex-end;

}

.quote_para{
  font-size: 36px;
  color: #1f2937;
  font-style:  italic;
  font-weight: lighter;
  margin-left: 80px;
  margin-right: 150px;

}
.quote_writer{
  font-weight: bold;
  margin-right: 150px;


}
footer{
  background-color: #1f2937;
  display: flex;
  justify-content: center;
}
.footer_text{
  color: white;
}
.outer{
  margin:150px;
  background-color:#3882f6;
  display: flex;
  justify-content:space-around;
}
.hnp{
color: white;

}
.sign{
  border-color: #e5e7eb;
  border-style: groove;
 color: white;
  background-color: #3882f6;
}
.call{
  margin-top: 0px;
}